@import "tailwindcss";
@import "tw-animate-css";

/* :root {
  --color-primary: #2392a9;
  --color-secondary: #f7b019;
  --color-accent: #d44e36;
  --color-background: #F2F4F8;
  --color-dark-text: #292b5a;
  --color-subtext: #8a94a6;
} */
@theme{
  /* Background Colors  */ 
  
  --color-bgPrimary: #F2F4F8; /* 60% */
  --color-bgSecondary: #FFFFFF; /* Secondary Color (30%): #FFFFFF */
  --color-accent: #4B5BC2;/* Accent Color (10%):  */

  /* Text Colors  */
  --color-textPrimary: #000000;
  --color-textSecondary: #242424;
  --color-link: #D51E3A;
}


/* Buttons:
Initial / Default: Background #3749BB0D, Text #4B5BC2
Hover: Background #4B5BC2, Text #FFFFFF */